/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: DetailedwithPadding;
	border-collapse: collapse;
	max-id: 8;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 12px;
	border-spacing-y: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-size: 9pt;
	font-family: Calibri;
	font-weight: 100;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	background-color: #d3d3d3;
	font-family: 'Geogrotesque Regular';
	color: #000000;
	text-align: left;
	font-weight: bold;
	vertical-align: bottom;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	page-break-inside: avoid;
	column-break-inside: avoid;
}


/* Cell Styles: */
 
.TableStyle-DetailedwithPadding
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 2px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-DetailedwithPadding-Column-Column1
{
	
}

.TableStyle-DetailedwithPadding-Head-Header1
{
	
}

.TableStyle-DetailedwithPadding-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadI-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-DetailedwithPadding-HeadE-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-DetailedwithPadding-HeadF-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadH-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-DetailedwithPadding-HeadD-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadC-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadB-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadA-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #d3d3d3;
}

.TableStyle-DetailedwithPadding-HeadG-Column1-Header1 p
{
	font-size: 9pt;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-weight: bold;
}

.TableStyle-DetailedwithPadding-FootI-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootI-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootE-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-FootE-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootF-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootF-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootH-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-FootH-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootD-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootD-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootC-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootC-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootB-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-FootB-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootA-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootA-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootG-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-FootG-Column1- p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-Body-Body1
{
	page-break-inside: avoid;
	column-break-inside: avoid;
}

.TableStyle-DetailedwithPadding-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyI-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-BodyE-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyF-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-BodyH-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyD-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyC-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-DetailedwithPadding-BodyB-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyA-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}

.TableStyle-DetailedwithPadding-BodyG-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 9pt;
	font-weight: 100;
}


