﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h2 MadCap:autonum="1.1. &#160;">CRR Metrics and Health Check</h2>
        <p>If cross-region replication (See “Setting Up Cross-Region-Replication to One or Many Clouds” in the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span>) is enabled and source and destination buckets are set up to allow replication, when a new object is added to the source bucket, the request for replicating that object begins processing.</p>
        <p>Metrics are gathered when entries are published to Kafka. When a Kafka entry has completed processing and an object has replicated to its destination bucket, further metrics are gathered to record its completion.</p>
        <h3 MadCap:autonum="1.1.1 &#160;"> Routes</h3>
        <p>The internal routes presented in the following table are required for testing the overall health of Backbeat and to measure the progress of an ongoing replication. </p>
        <p>All metric routes contain a {{site-name}} variable.</p>
        <p>The site name must match the name specified in <span class="ElementName">env_replication_endpoints</span> under the backbeat replication configurations in <span class="ProprietaryFileName">env/client_template/group_vars/all</span>. (See “Setting Up Cross-Region-Replication to One or Many Clouds” in the <span class="PublicationName"><MadCap:variable name="General.SetupInstall"></MadCap:variable></span>).</p>
        <p>If the site is for a different cloud backend (i.e. AWS, Azure), use that backend’s defined type (e.g., aws_s3, azure).</p>
        <p>To show all metrics for all sites, set {{site-name}} to “all”.</p>
        <table style="mc-table-style: url('Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col style="width: auto;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                        <p>Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                        <p>Description</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
                        <p>Example URL</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Healthcheck</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>This basic health check returns details on the health of Kafka and its topics.</p>
                        <p>If there is no HTTP response error, the structure of the response is an array of three key:value objects, detailed in section 15.2.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://127.0.0.1:8900/_/healthcheck</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">All Metrics</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Returns a collection of all metrics listed below.</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>http://127.0.0.1:8900/_/metrics/crr/{{site-name}}</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Backlog</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Returns the replication backlog in number of objects and number of total MB. The MB total represents data only and does not include the size of metadata.</p>
                        <p>Replication backlog represents the objects that have been queued up to be replicated to another site, but the replication task has not yet been completed for that object.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://127.0.0.1:8900/_/metrics/crr/{{site-name}}/backlog</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Completions</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Returns the replication completions in number of objects and number of total MB transferred. The MB total represents data only and does not include the size of metadata.</p>
                        <p>Completions are only collected up to an `EXPIRY` time, which is set to a default of 15 minutes.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">http://127.0.0.1:8900/_/metrics/crr/{{site-name}}/completions/</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Throughput</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Returns the current throughput in number of operations per second (or number of objects replicating per second) and number of total MB completing per second.</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">http://127.0.0.1:8900/_/metrics/crr/{{site-name}}/throughput</td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:conditions="PrintGuides.Not_Ready_Yet" MadCap:autonum="1.1.2 &#160;">Configuring Metrics</h3>
        <p MadCap:conditions="PrintGuides.Not_Ready_Yet">Metrics are gathered at of 5-minute (300-second) intervals up to a 15-minute (900-second) time-to-live. Time to live (“ttl”) can be configured to collect metrics for longer (or shorter) periods.</p>
        <p MadCap:conditions="PrintGuides.Not_Ready_Yet">These metrics are defined in <span class="ProprietaryFileName">env/client-template/group-vars/all</span>.</p>
        <p MadCap:conditions="PrintGuides.Not_Ready_Yet">All CRR metrics are gathered in set intervals defined by <code>env_backbeat_metrics_interval</code> or to a 300-second default. These metrics are collected up to the time-to-live specified in <code>env_backbeat_metrics_ttl</code> or to a 900-second default. Time-to-live must be divisible by the metrics interval.</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Not_Ready_Yet"><code>env_backbeat_metrics_interval: 300</code>
            </li>
            <li MadCap:conditions="PrintGuides.Not_Ready_Yet"><code>env_backbeat_metrics_ttl: 900</code>
            </li>
        </ul>
        <h3 MadCap:autonum="1.1.3 &#160;">Replication Status</h3>
        <p>A special status, <span class="state">PROCESSING</span>, supports cross-region replication with a  multiple-backend topology. Objects in CRR buckets transition from <span class="state">PENDING</span> to <span class="state">PROCESSING</span> to <span class="state">COMPLETED</span> or <span class="state">FAILED</span>.</p>
        <p style="page-break-after: avoid;"><b>ReplicationStatus</b>
        </p>
        <ul>
            <li><span class="state">PENDING</span>: CRR to all backends is in progress.</li>
            <li><span class="state">PROCESSING</span>: At least one backend has completed and is waiting for other backend(s) to finish.</li>
            <li><span class="state">COMPLETED</span>:&#160;All backends report a completed status.</li>
            <li><span class="state">FAILED</span>: At least one backend failed</li>
        </ul>
        <p>Each backend’s replication status is reported as user metadata.</p>
        <p>For example, if the site names configured in the replication endpoints are aws-backend-1, aws-backend-2, azure-backend-1, and azure-backend-2, user metadata on the head object may appear as:</p><pre xml:space="preserve">aws-backend-1-replication-status: COMPLETED
aws-backend-2-replication-status: PENDING
azure-backend-1-replication-status: COMPLETED
azure-backend-2-replication-status: PENDING</pre>
        <p>This user metadata is in addition to the object’s replication status, which follows the logic laid out in the bucket config file.</p>
        <h3 MadCap:autonum="1.1.4 &#160;">Health Check Details</h3>
        <p>Backbeat health checks return an array of three key:value objects. The keys are:</p>
        <ul>
            <li>A number (a numeric key)</li>
            <li><code>metadata</code>
            </li>
            <li><code>internalConnections</code>
            </li>
        </ul>
        <p>Each numeric key contains as its value an object containing nodeId, host, and port key objects. The numeric keys represent each ZooKeeper node and its details.</p><pre xml:space="preserve">zookeeperNode: {
    nodeId: &lt;value&gt;,
    host: &lt;value&gt;,
    port: &lt;value&gt;
}		</pre>
        <p>One of these key:value objects is key-named “metadata.” Its value is an object containing key:value pairs where each key represents a ZooKeeper node, and each value holds details on topic name, partition number, leader number, replicas, and in-sync replicas (ISRs) per partition.</p><pre xml:space="preserve">metadata: {
    zookeeperNode: {
        topic: &lt;value&gt;,
        partition: &lt;value&gt;,
        leader: &lt;value&gt;
        replicas: &lt;value&gt;
        isr: &lt;value&gt;
    }
}</pre>
        <p style="page-break-after: avoid;">The internalConnections object key nominates an object consisting of three keys: </p>
        <ul>
            <li><code>isrHealth</code>, which carries a value of either <code>ok</code> or <code>error</code>. </li>
            <li><code>zookeeper</code>, which shows a status and status details (see <a href="https://github.com/alexguan/node-zookeeper-client#state">https://github.com/alexguan/node-zookeeper-client#state</a> for more detail). </li>
            <li><code>kafkaProducer</code>, which carries a value of either <code>ok</code> or <code>error</code>, and checks the health of all Producers for every topic.</li>
        </ul><pre xml:space="preserve">internalConnections: {
    isrHealth: &lt;ok || error&gt;,
    zookeeper: {
        status: &lt;ok || error&gt;,
        details: {
            name: &lt;value&gt;,
            code: &lt;value&gt;
        }
    },
    kafkaProducer: {
        Status: &lt;ok || error&gt;
    }
}</pre>
        <h3 MadCap:autonum="1.1.5 &#160;">Status Code Responses</h3>
        <table style="margin-left: auto;margin-right: auto;mc-table-style: url('Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Response</td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Details</td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">200</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">OK: success</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">403</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">AccessDenied: request IP address does not have access</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">404</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">RouteNotFound: invalid route given</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">405</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">MethodNotAllowed: the HTTP verb must be a GET</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">500</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">InternalError: Can be caused by one of several internal components (i.e. the api server, Kafka, Zookeeper, or one of the Producers for a topic)</td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.1.6 &#160;">Example Responses</h3>
        <table style="width: 100%;mc-table-style: url('Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: auto;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <td class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Request Type</td>
                    <td class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Response Body</td>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Healthcheck</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre>[
  {
    "0":{
      "nodeId":0,
      "host":"server-node1",
      "port":9092
    },
    ...
    "4":{
      "nodeId":4,
      "host":"server-node5",
      "port":9092
    }
  },
  {
    "metadata": {
      "0":{
        "topic":"backbeat-replication",
        "partition":0,
        "leader":4,
        "replicas":[0,1,4],
        "isr":[1,4,0]
      },
      ...
      "4":{
        "topic":"backbeat-replication",
        "partition":4,
        "leader":3,
        "replicas":[0,3,4],
        "isr":[4,3,0]
      }
    }
  },
  {
    "internalConnections":{
      "isrHealth":"ok",
      "zookeeper":{
        "status":"ok",
        "details":{
          "name":"SYNC_CONNECTED",
          "code":3
        }
      },
    "kafkaProducer":{
      "status":"ok"
      }
    }
  }
]</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Backlog</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre xml:space="preserve">"backlog":{
  "description":"Number of incomplete replication operation (count) and number of incomplete MB transferred (size)",
  "results":{
    "count":4,
    "size":"6.12"
  }
}</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Completions</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"><pre xml:space="preserve">"completions":{
  "description":"Number of completed replication operations (count) and number of MB transferred (size) in the last 900 seconds",
  "results":{
    "count":31,
    "size":"47.04"
  }
}</pre>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Throughput</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1"><pre xml:space="preserve">"throughput":{
  "description":"Current throughput for replication operations in ops/sec (count) and MB/sec (size)",
  "results":{
    "count":"0.00",
    "size":"0.00"
  }
}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
