﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Optional Configuration</title>
    </head>
    <body>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Setting"></a>Setting the Leader Site for a Stretched Two-Site RING</h2>
        <p style="page-break-after: avoid;text-align: left;">If the minority of the Metadata servers is listed in the inventory file as being on site_a, uncomment the following line in the<span class="ProprietaryFileName"> /group_vars/all</span> template.</p><pre xml:space="preserve"># env_metadata_force_leader_on_site: site_a</pre>
        <p>If the minority is on site_b, uncomment this line and change it to site_b.</p>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Using"></a>Using Encryption</h2>
        <p>To use bucket and object encryption, uncomment the lines for the Key Management Service (kms) username and password in the <span class="ProprietaryFileName">/group_vars/all</span> template and set them appropriately.</p><pre xml:space="preserve">env_s3
  rest_endpoints:
    - s3.example.com
  # kms:
    # username:
    # password:</pre>
        <p style="text-align: left;">If no location constraint is set, location constraint defaults to  REST endpoint configuration.</p>
        <p style="text-align: left;">The kms properties file (<cite>/{{targetEnvironmentName}}/kms/ProtectAppICAPI.properties</cite>) contains parameters specific to each customer install. S3 Connector currently supports cryptographic key management with Gemalto SafeNet.  Check <span class="ProperNameBold">Allow Key and Policy Configuration Operations</span> on the the SafeNet KeySecure Management Console to enable key encryption for S3 Connector buckets and objects.</p>
        <p style="text-align: center;">
            <img src="../Resources/Images/gemalto_safenet_kms.png" style="width: 429px;height: 420px;">
            </img>
        </p>
        <h2 MadCap:autonum="1.3. &#160;"><a name="Enabling"></a>Enabling the Service Utilization API</h2>
        <p style="text-align: left;">Scality S3 Connector provides a Service Utilization API (UTAPI) for resource utilization tracking and metrics reporting. This feature is currently included for testing purposes only and is disabled by default. To enable UTAPI functionality, uncomment the <code>enable_utilization_api</code> line in the <cite>env/{{targetEnvironmentName}}/group_vars/all</cite> file and set it to <b>true</b>.</p>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Frontend"></a>Frontend Settings</h2>
        <p style="text-align: left;">Either software load balancers (Nginx containers, for example) or hardware load balancers can be set as SSL termination points for end-user applications. They can also be used to check the health of the installed S3 Connector instances and to blacklist any connectors that are not responding properly to the health check.</p>
        <p class="BoxNote" style="text-align: left;">Frontend SSL termination is incompatible with encryption on internal communication between components (end-to-end encryption). </p>
        <p style="text-align: left;page-break-after: avoid;">The following commented text in the group variables template describes the features that can be enabled on frontend load balancers:</p><pre xml:space="preserve" style="page-break-inside: avoid;">## Frontend settings. The frontend container:
## - optionally terminates ssl
## - checks its local s3 connector health
## - directs requests to its local s3 connector if healthy
## - directs requests to other s3 connectors if the local one is unhealthy</pre>
        <p style="text-align: left;page-break-after: avoid;">Uncomment the following code in the group variables template and assign values appropriate for the environment:</p><pre xml:space="preserve" style="page-break-inside: avoid;"># env_s3_frontend_port: 80         # change for a non-standard port
# env_s3_frontend_server_name: s3.example.com # must match SSL cert CN
# env_s3_frontend_ssl_only: false  # set to true en enforce ssl
# env_s3_frontend_ssl_port: 443    # change for a non-standard port
# env_s3_frontend_ssl_cert: s3.crt # if ssl is used, file must be in &lt;env&gt;/ssl
# env_s3_frontend_ssl_key: s3.key  # if ssl is used, file must be in &lt;env&gt;/ssl
# env_s3_frontend_ssl_ca_bundle: ca-bundle.crt # optional, must be in &lt;env&gt;/ssl</pre>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Integrat"></a>Integrating with Single Sign-On (SSO) Services Using SAML</h2>
        <p style="text-align: left;">See <MadCap:xref href="../4_Configuring Vault (IAM Management)/SAML Authentication and S3 Vault.htm#Configur">“Configuring the S3 Vault for SAML Authentication,” on page&#160;1</MadCap:xref> to learn how to integrate SSO services (such as Microsoft ADFS) using the SAML 2.0 protocol.</p>
        <h2 MadCap:autonum="1.6. &#160;"><a name="Configur2"></a>Configuring HTTPS Certificates for Vault and S3 Inter-Process Communication</h2>
        <p>You can configure the following S3 components to be HTTPS-accessible only.</p>
        <ul>
            <li>scality-s3</li>
            <li>scality-bucketd</li>
            <li>scality-vault</li>
            <li>scality-metadata-bucket-repd</li>
            <li>scality-metadata-bucket-map</li>
            <li>scality-metadata-vault</li>
        </ul>
        <p>The components these S3 components connect to must also be accessible via HTTPS. This can be set independently to the HTTPS offloading capacity of the scality-frontend-s3 container.</p>
        <p class="BoxIMPORTANT">The entire S3 cluster must be reconfigured, and thus restarted, at the same time. This necessitates a few minutes of downtime.</p>
        <h3 MadCap:autonum="1.6.1 &#160;">Prepare SSL Certificates</h3>
        <p>The pre-requisite is to provide SSL certificate(s) that correctly certify the ansible_host variable provided in the env/{{ EnvDir }}/inventory file in the Federation folder responsible for the S3 cluster configuration.</p>
        <p>For example, if the inventory specifies IP addresses:</p><pre>md1-cluster1 ansible_host=10.100.1.210
md2-cluster1 ansible_host=10.100.1.211
[...]</pre>
        <p>The servers must be certified with the IP address included in the Subject Alternative Name field of the certificate.</p>
        <p>If the inventory specifies fully qualified names:</p><pre>md1-cluster1 ansible_host=server1.s3.company.com
md2-cluster1 ansible_host=server2.s3.company.com
[...]</pre>
        <p>The servers must then be certified with one of:</p>
        <ul>
            <li>A unique “*.s3.company.com” wildcard certificate,</li>
            <li>A unique certificate with “server1.s3.company.com”, “server2.s3.company.com”, and so on in the certificate’s Server Alternative Name field, or</li>
            <li>Per-server certificates, certifying each server’s identity.</li>
        </ul>
        <h3 MadCap:autonum="1.6.2 &#160;">Distribute SSL Certificates</h3>
        <p>You must distribute the certificates in the same folder and with the same name in all servers. </p>
        <p>For example:</p>
        <ul>
            <li>/opt/scality/ssl/s3.cert for the mandatory certificate file</li>
            <li>/opt/scality/ssl/s3.key for the mandatory key protecting the certificate file</li>
            <li>/opt/scality/ssl/ca.cert for the optional signing tiers’ CA.</li>
        </ul>
        <p class="BoxIMPORTANT">The key file cannot be protected by a passphrase.</p>
        <h3 MadCap:autonum="1.6.3 &#160;">Activate SSL with Federation</h3>
        <p>Once these files are present in all S3 connectors, configure Federation by editing <span class="ProprietaryFileName">env/{{ EnvDir }}/group_vars/all</span>. Uncomment and set the following variables:</p><pre>env_tls_cert: /opt/scality/ssl/s3.cert # Mandatory
env_tls_key: /opt/scality/ssl/s3.key # Mandatory
env_tls_ca: /opt/scality/ssl/ca.cert # Optional</pre>
        <p>Play the run.yml Ansible playbook to activate HTTPS in your platform:</p><pre xml:space="preserve">$ ./ansible-playbook -i env/{{ EnvDir }}/inventory run.yml</pre>
    </body>
</html>