﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Recovering a Metadata Node from Backup</h1>
        <p>
            <MadCap:xref href="S3 Metadata Disk Replacement.htm#Metadata">“Metadata Disk Replacement,” on page&#160;1</MadCap:xref> provides the steps required to prepare for re-installing the software.</p>
        <p>The following procedure demonstrates recovering a Metadata node aliased as “md3-cluster1”. Before applying it, make sure the S3 Federation tool’s inventory file (env/{{EnvDir}}/inventory) has the correct IP address for this alias:</p><pre>md3-cluster1 ansible_host=correct.ip.address [...]</pre>
        <p>To recover a Metadata node from backup:</p>
        <ol>
            <li>
                <p>Re-install the node</p>
                <ol>
                    <li>
                        <p>Reinstall the service:</p><pre><b>$ ./ansible-playbook -i env/{{EnvDir}}/inventory run.yml -l md3-cluster1
</b></pre>
                    </li>
                    <li>
                        <p>Make sure all topologies are informed of the replaced
server’s IP&#160;address:</p><pre xml:space="preserve"><b>$ ./ansible-playbook -i env/{{EnvDir}}/inventory tooling-playbooks/activate_warm_stand_by.yml -l md1-cluster1</b>
...
<b>$ ./ansible-playbook -i env/{{EnvDir}}/inventory tooling-playbooks/activate_warm_stand_by.yml -l md2-cluster1</b>
...
<b>$ ./ansible-playbook -i env/{{EnvDir}}/inventory tooling-playbooks/activate_warm_stand_by.yml -l md4-cluster1</b>
...
<b>$ ./ansible-playbook -i env/{{EnvDir}}/inventory tooling-playbooks/activate_warm_stand_by.yml -l md5-cluster1</b>
...
</pre>
                        <p class="BoxIMPORTANT">Run this step run machine-by-machine to avoid interrupting
ongoing requests.</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>Ensure the node recovers and measure its speed.</p>
                <p>To check that a node is properly recovering,  either examine the logs (this requires a good understanding of the logs, and is not
always easy), or examine the Raft state (raftState). </p>
                <p>Run these commands from the federation/ folder in the server hosting S3’s Federation (the supervisor).</p>
                <ol>
                    <li>To run the raftState method:<pre xml:space="preserve"><b>$ alias run_shell="../repo/venv/bin/ansible -i env/{{EnvDir}}/inventory '*' -b -m shell -a"
$ for i in `seq 1 8` ; do run_shell "curl -s http://localhost:$((9143 + $i))/_/raft/state" -l md1-cluster1,md3-cluster1; done</b>
md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":3440554,"backups":344,"committing":3440554,"committed":3440554,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":920000,"backups":92,"committing":915583,"committed":915583,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2353407,"backups":235,"committing":2353407,"committed":2353407,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":930000,"backups":93,"committing":924633,"committed":924632,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":1144756,"backups":114,"committing":1144756,"committed":1144756,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":930000,"backups":93,"committing":929941,"committed":929941,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1710394,"backups":171,"committing":1710394,"committed":1710394,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":930000,"backups":93,"committing":929595,"committed":929595,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1152342,"backups":115,"committing":1152342,"committed":1152342,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;

{"term":0,"voted":0,"appending":940000,"backups":94,"committing":934962,"committed":934962,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1715299,"backups":171,"committing":1715299,"committed":1715299,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":940000,"backups":94,"committing":936985,"committed":936984,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":2479580,"backups":247,"committing":2479580,"committed":2479580,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":940000,"backups":94,"committing":936075,"committed":936074,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2271999,"backups":227,"committing":2271999,"committed":2271999,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":940000,"backups":94,"committing":936878,"committed":936877,"pruned":0}</pre><p>If all raftSessions are catching up at the same speed, wait for the largest backup sequence to catch up. Wait for the recovering Metadata node (md3-cluster1) to have the same “committing” sequence as the reference Metadata node (md1-cluster1) for the 8 Raft sessions they both host.</p><p>In the example above, md1-cluster1 has a “committing” sequence of 3440554 for Raft session number 1, when md3-cluster1 just commited the sequence 915583 for this same raft session. 2524971 commits remain before Raft session 1 is fully restored on md3-cluster1.</p></li>
                    <li>
                        <p>Run the previous command with a date argument a few times to measure the speed. This provides a rough estimate of the time required
for one backup to be handled:</p><pre xml:space="preserve"><b>$ date &amp;&amp; for i in `seq 1 8` ; do run_shell "curl -s http://localhost:$((9143 + $i))/_/raft/state" -l md1-cluster1,md3-cluster1; done</b>
Wed. May 16 10:13:07 UTC 2018
md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":3440554,"backups":344,"committing":3440554,"committed":3440554,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1040000,"backups":104,"committing":1034774,"committed":1034774,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2353407,"backups":235,"committing":2353407,"committed":2353407,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1050000,"backups":105,"committing":1045710,"committed":1045709,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":1144756,"backups":114,"committing":1144756,"committed":1144756,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1060000,"backups":106,"committing":1050179,"committed":1050178,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1710394,"backups":171,"committing":1710394,"committed":1710394,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1050000,"backups":105,"committing":1048793,"committed":1048793,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1152342,"backups":115,"committing":1152342,"committed":1152342,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1060000,"backups":106,"committing":1056135,"committed":1056135,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1715299,"backups":171,"committing":1715299,"committed":1715299,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1060000,"backups":106,"committing":1058276,"committed":1058276,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":2479580,"backups":247,"committing":2479580,"committed":2479580,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1060000,"backups":106,"committing":1055469,"committed":1055469,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2271999,"backups":227,"committing":2271999,"committed":2271999,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1060000,"backups":106,"committing":1058321,"committed":1058321,"pruned":0}

</pre><pre xml:space="preserve"><b>$ date &amp;&amp; for i in `seq 1 8` ; do run_shell "curl -s http://localhost:$((9143 + $i))/_/raft/state" -l md1-cluster1,md3-cluster1; done</b>
Wed. May 16 10:16:47 UTC 2018
md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":3440554,"backups":344,"committing":3440554,"committed":3440554,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1090000,"backups":109,"committing":1082542,"committed":1082541,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2353407,"backups":235,"committing":2353407,"committed":2353407,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1100000,"backups":110,"committing":1094989,"committed":1094989,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":1144756,"backups":114,"committing":1144756,"committed":1144756,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1100000,"backups":110,"committing":1099188,"committed":1099187,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1710394,"backups":171,"committing":1710394,"committed":1710394,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1100000,"backups":110,"committing":1095419,"committed":1095419,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1152342,"backups":115,"committing":1152342,"committed":1152342,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1110000,"backups":111,"committing":1103968,"committed":1103967,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1715299,"backups":171,"committing":1715299,"committed":1715299,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1110000,"backups":111,"committing":1105982,"committed":1105982,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":2479580,"backups":247,"committing":2479580,"committed":2479580,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1110000,"backups":111,"committing":1103398,"committed":1103397,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2271999,"backups":227,"committing":2271999,"committed":2271999,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":0,"voted":0,"appending":1110000,"backups":111,"committing":1105927,"committed":1105927,"pruned":0}
</pre>
                    </li>
                    <li>
                        <p>Confirm that the node has caught up. This means that the values for backups and committed match between the two machines in each Raft session:</p><pre xml:space="preserve"><b>$ date &amp;&amp; for i in `seq 1 8` ; do run_shell "curl -s http://localhost:$((9143 + $i))/_/raft/state" -l md1-cluster1,md3-cluster1; done</b>
Wed. May 16 14:03:10 UTC 2018
md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":3440554,"backups":344,"committing":3440554,"committed":3440554,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":3440554,"backups":344,"committing":3440554,"committed":3440554,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2353407,"backups":235,"committing":2353407,"committed":2353407,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2353407,"backups":235,"committing":2353407,"committed":2353407,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":1144756,"backups":114,"committing":1144756,"committed":1144756,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":3,"voted":3,"appending":1144756,"backups":114,"committing":1144756,"committed":1144756,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1710394,"backups":171,"committing":1710394,"committed":1710394,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1710394,"backups":171,"committing":1710394,"committed":1710394,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1152342,"backups":115,"committing":1152342,"committed":1152342,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1152342,"backups":115,"committing":1152342,"committed":1152342,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1715299,"backups":171,"committing":1715299,"committed":1715299,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":1715299,"backups":171,"committing":1715299,"committed":1715299,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":2479580,"backups":247,"committing":2479580,"committed":2479580,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":4,"voted":4,"appending":2479580,"backups":247,"committing":2479580,"committed":2479580,"pruned":0}

md1-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2271999,"backups":227,"committing":2271999,"committed":2271999,"pruned":0}

md3-cluster1 | SUCCESS | rc=0 &gt;&gt;
{"term":5,"voted":5,"appending":2271999,"backups":227,"committing":2271999,"committed":2271999,"pruned":0}
</pre>
                    </li>
                </ol>
            </li>
        </ol>
    </body>
</html>