﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Using Encryption</title>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;"><a name="top"></a>Using Encryption</h1>
        <p style="text-align: left;">S3 Connector offers at-rest bucket and object encryption. Currently <MadCap:variable name="General.ProductNameShort" /> supports cryptographic key management only with Gemalto SafeNet for production deployments. An option also exists to use a less secure but still functional static encryption file that can be deployed in proof-of-concept environments. This mode is activated by default if no KMS configuration was performed during installation. See the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span>  for more information about setting up the SafeNet key management service for S3 Connector.</p>
        <p style="text-align: left;">To deploy a bucket with encrypted data, the bucket must be created using the <cite>create_encrypted_bucket.js</cite>  tool supplied with the S3 Connector. To do this, you must go into a Docker container on a stateless server.  The steps to create an encrypted bucket will resemble the following:</p><pre xml:space="preserve" style="font-weight: normal;">[root@scalityc1n1 ~]# docker exec -it scality-s3 bash

scality@scalityc1n1:~/S3$ cd bin {"name":"S3","time":1526939393622,"level":"error","message":"missing parameter","hostname":"scalityc1n1.atlpss.hp.net","pid":304}

  Usage: create_encrypted_bucket [options]

  Options:

    -V, --version                                   output the version number
    -a, --access-key &lt;accessKey&gt;                    Access key id
    -k, --secret-key &lt;secretKey&gt;                    Secret access key
    -b, --bucket &lt;bucket&gt;                           Name of the bucket
    -h, --host &lt;host&gt;                               Host of the server
    -p, --port &lt;port&gt;                               Port of the server
    -s                                              --ssl
    -v, --verbose
    -l, --location-constraint &lt;locationConstraint&gt;  location Constraint
    -h, --help                                      output usage information

scality@scalityc1n1:~/S3/bin$ ./create_encrypted_bucket.js -h 10.10.61.61 -p 8000 -a XIJG9OTSMLDDIEWX21HT -k BTNMVTDBujqpTUEVYVYtfhxExCWy3KvDlad4hmwC -b ingest {"name":"S3","time":1526939745801,"statusCode":200,"level":"info","message":"Success","hostname":"scalityc1n1.atlpss.hp.net","pid":358}</pre>
        <p style="text-align: left;">Creating the bucket results in the creation of a bucket-specific encrypted key in SafeNet. This key is identified with a master key ID.</p>
        <p style="text-align: left;">When an object is created in the bucket, S3 Connector generates a data key, which is used to encrypt the object data. <MadCap:variable name="General.ProductNameShort" /> sends a request to SafeNet to encrypt the data key using the master key ID. SafeNet sends back the encrypted data key and S3 Connector stores the encrypted object, including the encrypted data key in the object’s metadata.</p>
        <p style="text-align: left;">When a user sends a GET request for the encrypted object,  S3 Connector retrieves the encrypted object and reads its metadata to obtain the encrypted data key.  S3 Connector then sends SafeNet  a request to decipher the encrypted data key using the master key. SafeNet returns the data key in clear, which allows S3 Connector to decrypt the data and send it to the user.</p>
        <p style="text-align: left;">At no time is a request made for a password or for user intervention relative to the encryption and decryption, other than at the moment of bucket creation.</p>
        <h2 MadCap:autonum="1.1. &#160;">Configuring HTTPS for Inter-Component Communication</h2>
        <p style="text-align: left;">The HTTPS protocol is optional. Using HTTPS for inter-component communication requires providing at least a certificate and a private key file to configure HTTPS. It is highly recommended that the certificate be signed by a well-known certification authority (CA), in which case the path to the CA’s certificate file can also be configured.</p>
        <p style="text-align: left;">Configure HTTPS&#160;for inter-component communication by uncommenting and setting the following parameters in the <cite>env/{{my_setup_env}}/group_vars/all</cite> template (See “Advanced Optional Configurations” in the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span> for additional information about the group variables template).</p><pre MadCap:conditions="" xml:space="preserve"># env_tls_cert: /tmp/testcert/cert.pem
# env_tls_key: /tmp/tescert/key.pem
# env_tls_ca: /tmp/testcert/ca.pem</pre>
        <p class="Note">Certificate files must be deployed to the same path on all target machines and have the same names.</p>
        <p style="text-align: left;">If the certificate file paths in the group variables template are set before installation, the <cite>config.json</cite> file is automatically updated with the entered information.</p>
        <h2 style="text-align: left;" MadCap:autonum="1.2. &#160;">Signing a Request with Auth v4</h2>
        <p>
            <p style="text-align: left;">Generate the V4 signature using AWS SDKs. For more information, refer to <a href="http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html">http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html</a> and <a href="http://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html">http://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html</a>.</p>
        </p>
        <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.3. &#160;"><a name="Encrypti"></a>Encryption with AWS S3 Data Backend</h2>
        <p MadCap:conditions="PrintGuides.Zenko">AWS server-side encryption can be used when the location constraint specified for the data backend is of the type AWS.</p>
        <p MadCap:conditions="PrintGuides.Zenko">Because the standard AWS S3 protocol does not offer bucket-level encryption, normal AWS S3 clients do not offer the option of sending a header during bucket creation. Scality has created a simple tool to facilitate encrypted bucket creation.</p>
        <p MadCap:conditions="PrintGuides.Zenko"> To create an encrypted bucket, use the encrypted bucket tool in <span class="ProprietaryFileName">bin</span>.</p><pre MadCap:conditions="PrintGuides.Zenko" xml:space="preserve">$ ./create_encrypted_bucket.js -a accessKey1 -k verySecretKey1 -b bucketname -h localhost -p 8000</pre>
        <p MadCap:conditions="PrintGuides.Zenko">To enable server-side encryption on a location constraint of type AWS, configure the location constraint in the <span class="ProprietaryFileName">group/vars/all</span> file.</p><pre MadCap:conditions="PrintGuides.Zenko" xml:space="preserve">awsbackend:
   type: aws_s3
   legacy_aws_behavior: true
details:
   server_side_encryption: true
...</pre>
        <p MadCap:conditions="PrintGuides.Zenko">Using this configuration, putting an object to that data locationalso passes the <code>x-amz-server-side-encryption: AES256</code> header to AWS.</p>
        <p MadCap:conditions="PrintGuides.Zenko">With  these options it is possible to configure encryption on both CloudServer and AWS S3. Configuring on AWS S3 is only possible if an object is put on a CloudServer bucket that has the encryption flag, the location-constraint for the data is AWS S3, and serverSideEncryption is set to true. In this way,  the object is still encrypted if it is accessed directly from AWS S3.</p>
    </body>
</html>
