<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        
        <h1 MadCap:autonum="1. &#160;"><a name="S3"></a>S3 Metadata Search</h1>
        <p>Zenko offers users the ability to perform S3 database searches through a graphical search tool or from the command line. </p>
        <h2 MadCap:autonum="1.1. &#160;">S3 Search Characteristics</h2>
        <p>The S3 search tool is a Scality-proprietary API&#160;extension to the Zenko platform. S3 Search complies with AWS&#160;S3 search syntax with certain noteworthy differences. S3 Search is MongoDB native, and addresses the S3 search through queries encapsulated in a SQL&#160;WHERE&#160;predicate. S3 Search uses Perl-Compatible Regular Expression (PCRE) search syntax. </p>
        <h2 MadCap:autonum="1.2. &#160;">S3 Search Syntax</h2>
        <p>From the command line, a query must be structured as follows:&#160;</p><pre xml:space="preserve">$ /bin/search_bucket.js -a {{access key}} -k {{secret key}} -b {{bucket name}} -q {{query {{SQL&#160;WHERE&#160;clause}} predicate}} -h {{host}} -p {{port}}</pre>
        <p>The access and secret key are the keys for access to the bucket host. The host is the host address (IPv4, IPv6 or DNS). All fields must be declared.</p>
        <h2 MadCap:autonum="1.3. &#160;">S3 Search Example</h2>
        <p>The query syntax is shown in the following example:&#160;</p><pre>$ bin/search_bucket.js -a PYMHLS58B6OD6UD6RFJS -k fPamoC8+Jybyw2QIi4dJFj/SS71NcgVWyq=b0DNA -b testbucket -q "\`last-modified\` LIKE \"2018-03-23T18:54:25.*\"" -h 10.233.45.127 -p 8001</pre>
        <h2 MadCap:autonum="1.4. &#160;">S3 Search Results Example</h2>
        <p>The search example above returns the following results:</p><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"&gt;
   &lt;Name&gt;testbucket&lt;/Name&gt;
   &lt;Prefix/&gt;
   &lt;Marker/&gt;
   &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
   &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
   &lt;Contents&gt;
       &lt;Key&gt;obj10&lt;/Key&gt;
       &lt;LastModified&gt;2018-03-23T18:54:25.000Z&lt;/LastModified&gt;
       &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
       &lt;Size&gt;14&lt;/Size&gt;
       &lt;Owner&gt;
           &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
           &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
       &lt;/Owner&gt;
       &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
    &lt;Contents&gt;
        &lt;Key&gt;obj11&lt;/Key&gt;
        &lt;LastModified&gt;2018-03-23T18:54:25.061Z&lt;/LastModified&gt;
        &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
        &lt;Size&gt;14&lt;/Size&gt;
        &lt;Owner&gt;
            &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
            &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
        &lt;/Owner&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
        [ . . .  ]
    &lt;Contents&gt;
        &lt;Key&gt;obj64&lt;/Key&gt;
        &lt;LastModified&gt;2018-03-23T18:54:25.965Z&lt;/LastModified&gt;
        &lt;ETag&gt;"54b0c58c7ce9f2a8b551351102ee0938"&lt;/ETag&gt;
        &lt;Size&gt;14&lt;/Size&gt;
        &lt;Owner&gt;
            &lt;ID&gt;12349df900b949e55d96a1e698fbacedfd6e09d98eacf8f8d5218e7cd47qwer&lt;/ID&gt;
            &lt;DisplayName&gt;CustomAccount&lt;/DisplayName&gt;
        &lt;/Owner&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;/Contents&gt;
&lt;/ListBucketResult&gt;</pre>
    </body>
</html>