<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Configuring S3 Vault (IAM management)</title>
    </head>
    <body>
        
        <h1 MadCap:autonum="1. &#160;"><a name="Configur"></a>Configuring S3 Vault (IAM Management)</h1>
        <p style="text-align: left;">Administrator responsibilities in the S3 Connector environment primarily involve creating and maintaining Vault accounts for  user management and data access. </p>
        <h2 MadCap:autonum="1.1. &#160;">Starting the Vault Module</h2>
        <p style="text-align: left;">S3 Vault modules serve as secure storage for identity- and authentication-related information with S3 Connector and are responsible for authentication (that is, verifying the signatures) of requests handled by the connectors. S3 Vault supports SAML-compliant ID providers such as Microsoft ADFS to provide federated authentication/SSO services using  an external directory provider such as Active Directory.</p>
        <h2 style="text-align: left;" MadCap:autonum="1.2. &#160;"><a name="S3"></a>S3 Vault Keyfile</h2>
        <p style="text-align: left;">S3 Vault uses secure encryption to store sensitive user identity information and requires a keyfile for this. As part of its key derivation process, S3 Vault uses a master key for sensible data encryption. The master key is  a string of at least 32 characters that must be placed inside the file <span class="ProprietaryFileName">roles/run-vault/files/keyfile</span> by the deploying party. If no seed exists or if the key is short, the deployment process fails.</p>
        <p class="BoxTip">To generate a master key automatically, see <MadCap:xref href="../8_Operation Support Tools/Playbook to Generate Master and Secret Keys.htm">“Playbook to Generate Master and Secret Keys” on page&#160;1</MadCap:xref>.</p>
        <h3 class="noTOC" MadCap:autonum="1.2.1 &#160;">Important Considerations</h3>
        <p style="text-align: left;">Confirm that the master key is random and long. Use the following openSSL&#160;command to generate an appropriate master key:</p><pre xml:space="preserve"> $ openssl rand -base64 96 &gt;&#160;keyfile.txt</pre>
        <p class="BoxWARNING">
            <p>Redeploying with a different master key renders previously stored information unreadable, and makes it impossible to generate keys previously used for encryption. Once there is a seed, store it in a safe place and  copy it to <span class="Code_Terminal">keyfile.yml</span> before deployment. Use the following command:</p><pre xml:space="preserve">$ ansible-playbook -i env/{{pathToFile}}/inventory --tags vault run.yml</pre>
        </p>
        <h2 MadCap:autonum="1.3. &#160;">Starting S3 Vault with Ansible</h2>
        <p style="text-align: left;">The S3 Vault module starts automatically following installation via Ansible (refer to the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span>). If a restart of the S3 Vault module is necessary, use the <span class="Code_Terminal">ansible-playbook</span> command with the <code>&#8209;&#8209;tags</code> parameter set to <span class="ProperNameBold">vault</span>:</p><pre xml:space="preserve">$ ansible-playbook -i env/{{<cite>pathToFile</cite>}}/inventory --tags vault run.yml</pre>
        <p class="BoxNote">If S3 Connector has been installed in offline mode, the ansible-playbook wrapper script shipped with the offline tar file must be used.</p>
        <p>In addition to serving as an S3 Vault module restart mechanism, this <span class="Code_Terminal">ansible-playbook</span> command places a master key file on the S3 Vault server under 400 permission and adds its path to the <code>keyFilePath</code> section of the<span class="FileName"> config.json</span> file. </p>
        <h2 MadCap:autonum="1.4. &#160;">Setting Administration Credentials</h2>
        <p>Only requests using pre-deployed administration credentials are granted access to administration routes  (such as, create, delete, and list for accounts). To generate administration credentials automatically, see<MadCap:xref href="../8_Operation Support Tools/Playbook to Generate Admin Credentials.htm">“Playbook to Generate Account Credentials” on page&#160;1</MadCap:xref>.</p>
        <p>To set administration credentials manually, create a file on the filesystem and indicate its path in the entry adminCredentialsFilePath of the Vault <span class="FileName">config.json</span> file. The file must contain a JSON structure with the desired credentials. </p>
        <p style="page-break-after: avoid;">For example:</p><pre>{
     "{{accessKey1}}": "{{secretKey1}}",
     "{{accessKey2}}": "{{secretKey2}}"
}</pre>
        <p style="text-align: left;">AccessKeys must be between 16 and 32 characters (A–Z, 0–9), while secretKeys must be 40 characters (a–z, A–Z, 0–9, /, +, and =). Use the following commands to generate random credentials:</p>
        <ul>
            <li>
                <p>Access key:</p><pre xml:space="preserve">
$ cat /dev/urandom | tr -dc 'A-Z0-9' | fold -w 20| head -1</pre>
            </li>
            <li>
                <p>Secret key:</p><pre xml:space="preserve">
$ cat /dev/urandom | tr -dc 'a-zA-Z0-9/=+' | fold -w 40| head -1</pre>
            </li>
        </ul>
    </body>
</html>