<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="850.6666" MadCap:lastWidth="651">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Logging into S3 Vault with SAML Authentication</h1>
        <p class="BoxIMPORTANT"><span class="emphasisbox">Unless in-house automatic proceses are in place, S3 Connector users may need assistance with S3 Vault components configured for SAML&#160;authentication when logging into S3 Vault or clearing access keys following a session. Administrators can share with system users the manual login procedure, which can thereafter be applied as needed.</span>
        </p>
        <p style="text-align: left;">If the S3 Vault component has been properly configured for SAML&#160;authentication, S3 Vault returns IAM access keys to verify user privileges as established in a Single Sign-On application or a corporate ADFS&#160;server. </p>
        <p style="text-align: left;">Access keys obtained through SAML authentication are assigned an expiration time, after which any requests authenticated with them are rejected. When this happens a new access key must be obtained.</p>
        <h2 MadCap:autonum="1.1. &#160;">Obtaining a User Access Key</h2>
        <p style="text-align: left;">Once the S3 Vault server is started, obtain a user access key as follows. </p>
        <ol>
            <li>Log in to S3 Vault at {{issuerHost}}:{{issuerPort}}.                <pre>POST /login
Request JSON: none
&#160;
Response upon success: {
&#160;&#160;"SAMLRequest": &lt;base-64-encoded-redirection-URL&gt;
}</pre></li>
            <li>Issue a <code>GET \&lt;base-64-encoded-redirection-URL\&gt;</code> command to return a basic authentication form.
                <pre>headers: {
&#160;&#160;"content-type": "application/x-www-form-urlencoded"
}
body: {
&#160;&#160;"UserName": &lt;user login&gt;,
&#160;&#160;"Password": &lt;user password&gt;,
&#160;&#160;"AuthMethod": "FormsAuthentication"
}</pre></li>
            <li>Enter a valid user name and password into the authentication form.</li>
            <li>
                <p>Submit the form in the preferred manner (that is, by <code>POST</code>).</p>
                <p>The request is redirected to S3 Vault, which replies with user-related information and an access key.</p><pre>{
&#160;&#160;"userId":"UDPMBNZPRB8T1C18ZC89UM5B5M8CYMWV",
&#160;&#160;"roleName":"S-1-5-21-1086684485-4129343798-3459991119-1108",
&#160;&#160;"accessKey":"7YKRVKM4PCMDDORJKWKW",
&#160;&#160;"secretKeyValue":"YLJS84cIvTexQlafzsgnZhssdnJ+QRenMQLcLtXn",
&#160;&#160;"expirationTime":"2016-05-03T15:47:20Z"
}</pre>
            </li>
            <p style="text-align: left;">S3 Vault returns a signed cookie named “vaultUser” with the last response.</p>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Removing"></a>Removing a User Access Key</h2>
        <p style="text-align: left;">Users can delete current or expired access keys from S3 Vault.</p>
        <ol>
            <li>Log out of S3 Vault.
                <pre>POST /logout</pre></li>
            <li>Submit the following request.
                <pre>headers: {
&#160;&#160;"Cookie": &lt;cookies-received-at-login&gt;
}</pre></li>
            <p style="text-align: left;">An S3 request made using an old access key following a logout results in an authentication failure. A new access key must be obtained.</p>
        </ol>
        <h2 MadCap:autonum="1.3. &#160;">Status Codes for SAML Authentication</h2>
        <p style="text-align: left;page-break-after: avoid;">The following success and error codes may be returned for SAML authentication requests:</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 255px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 387px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Code</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">200 OK</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Success</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">401 Unauthorized</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">	Logout without previous login</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">404 NoParentAccount</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No associated domain account found in S3 Vault</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">500 ServiceFailure</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Correct request but execution failed</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>