﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Vault Account Administration</h1>
        <p>Account management is provided by the vaultclient binary installed in the scality-s3 Docker container. For security and ease of use Scality discourages using it directly. Instead, use the tooling-playbooks/ folder in Federation, which offers some Ansible playbooks that automate the use of this script.</p>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Playbook"></a>Playbook to List Accounts</h2>
        <p>To list accounts, run the following command from the Federation folder:</p><pre xml:space="preserve">$ ./ansible-playbook -i env/&lt;my-env&gt;/inventory tooling-playbooks/list-account.yml</pre>
        <h2 MadCap:autonum="1.2. &#160;">Command-Line HTTPS Support</h2>
        <p>The command-line tool uses HTTP by default. To force it to use HTTPS, append the <span class="Code_Terminal">--https</span> option to every command. A certificate authority can also be specified by appending the option <span class="Code_Terminal">--cafile</span>. For example: </p><pre xml:space="preserve">$ bin/vaultclient create-account --name account0 --email d3v@null --host 127.0.0.1 --https --cafile &lt;path&gt;
{
  "message": {
    "code": 201,
    "message": "Created",
    "body": {
        "arn": "arn:aws:iam::456854744086:/account0/",
        "id": "456854744086",
        "canonicalId": "7E27S2BXH4JC3Y2CMUOEMO4UJ0I2D5TP4Q...VD7J6SCV7FEM8T"
    }
  }
}</pre>
        <h2 MadCap:autonum="1.3. &#160;">Using Vault Administration Credentials from the Command Line </h2>
        <p>S3 Vault administrative interfaces require AWS Signature Version 4 and valid administration credentials (to create, delete and list accounts, users and access keys). A json file must first be created to make vaultcient use an administrative credential (accessKey, secretKey) pair.</p><pre xml:space="preserve">{
    "accessKey": "&lt;administrative access key for Vault&gt;",
    "secretKeyValue": "&lt;administrative secret key for Vault&gt;"
}</pre>
        <p>Three methods are available for passing the content of the json file to vaultclient:</p>
        <ul>
            <li>Name the file <span class="ProprietaryFileName">.vaultclient.conf</span> and place it in the <span class="ProprietaryFileName">~/.vaultclient.conf</span> home folder.</li>
            <li>Set the <span class="Variable">VAULT_CONFIG</span> environment variable with the path to the file:
            <pre>export VAULT_CONFIG={{filepath}}</pre></li>
        </ul>
        <ul>
            <li>Pass the file path in the command line with the <span class="Code_Terminal">--config</span> option. For example:
                <pre>$ bin/vaultclient create-account --name account0 --email d3v@null --host 127.0.0.1 --config {{path}}</pre></li>
        </ul>
        <h2 MadCap:autonum="1.4. &#160;">S3 Vault Client Command Examples</h2>
        <h3 MadCap:autonum="1.4.1 &#160;">Account Creation</h3><pre xml:space="preserve">$ ./bin/vaultclient create-account --name TestAccount --email account@test.com  

{
"message": {
  "code": 201,
  "message": "Created",
  "body": {
    "arn": "arn:aws:iam::117099473272:/TestAccount/",
    "id": "117099473272",
    "canonicalId":
      "CER9UNUF89LNFWQCS90RHR0WHTYUW9Q3HY9KBUMSR75V9B4VXGJ0RF89X8SQEBSG"
    }
  }
}</pre>
        <h3 MadCap:autonum="1.4.2 &#160;">Account Deletion</h3><pre xml:space="preserve">$ ./bin/vaultclient delete-account --name TestAccount 
&#160;
{
"message": {
  "code": 204,
  "message": "No content."
  }
}</pre>
        <h3 MadCap:autonum="1.4.3 &#160;">Access Key Creation</h3>
        <p style="text-align: left;">Access keys can be created for  users using the standard AWS&#160;<code>create-access-key</code> command. (For security, creating access keys for accounts is not recommended.)  </p>
        <p class="BoxNote">The <code>id</code> parameter returned in response to access key creation is equivalent to the Amazon S3 <code>access-key</code> parameter, and the <code>value</code> parameter is equivalent to the Amazon S3 <code>secret-key</code> parameter.</p>
    </body>
</html>