﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h2 MadCap:autonum="1.1. &#160;">SAML Authentication and S3 Vault</h2>
        <p style="text-align: left;">The S3 Connector Vault component enables integration of Single Sign-On (SSO) services using SAML-based authentication or Active Directory Federation Services (ADFS). Doing so avoids the need to replicate the entire user base into S3 Vault at deployment time. Instead, the first time an S3 Connector user authenticates via SAML, an IAM user is created in S3 Vault and an access key is issued for that user. </p>
        <div>
            <p style="text-align: left;">The access key binds together the SAML or ADFS domain name, the user name, <MadCap:conditionalText MadCap:conditions="PrintGuides.Future">IAM role,</MadCap:conditionalText> and an IAM group (with an attached policy) that matches the user’s SAML&#160;or ADFS primary group. SAML-based or ADFS entities are mapped into Amazon’s Identity and Access Management model (IAM). </p>
            <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <thead>
                    <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                        <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">SAML/ADFS&#160;Entity</th>
                        <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">IAM&#160;Entity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Domain</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Account</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">User</td>
                        <td style="font-weight: normal;" class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">User</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Primary Group</td>
                        <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Group with attached policy <MadCap:conditionalText MadCap:conditions="PrintGuides.Future">Role</MadCap:conditionalText></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="BoxNote">To activate SAML&#160;authentication  modify the S3 Vault configuration file and create one or more domain accounts, as described in <MadCap:xref href="#Configur">“Configuring the S3 Vault for SAML Authentication” on page&#160;1</MadCap:xref>.</p>
        <p style="text-align: left;">As per IAM model rules, each user can belong to only one account. ADFS primary groups are mapped into IAM groups<MadCap:conditionalText MadCap:conditions="PrintGuides.Future">roles</MadCap:conditionalText>, so IAM policies can be applied to them. A dynamic user (a user created on the fly) from SAML is added to the IAM group when they connect.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">Enabling SAML Support in Vault</h3>
        <p style="text-align: left;">Enable SAML support in Vault by uncommenting and setting the <code>env_vault_saml</code> section variables in the <cite>env/{{my_setup_env}}/group_vars/all</cite> template file before installing or updating the S3 Connector.</p>
        <p style="orphans: 2;text-align: left;page-break-after: avoid;">The following variables can be set for SAML support in the template file:</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 227px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Variable</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Description</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Default (if uncommented)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">entry_point</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ID&#160;provider’s URL</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">—</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">entry_point_logout</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">(Optional) ID&#160;provider’s logout URL</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">ADFS</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">issuer:<br />&#160;host<br /></td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">IP address of Vault interface to single sign-on users</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">https://127.0.0.1</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">issuer:<br />&#160;port</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Port for the Vault interface to single sign-on users</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">3030</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">secretkey_expiration_hours</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Number of hours during which the retrieved accessKey and secretKey are valid</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">1</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">session_expiration_hours</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Number of hours during which a session is valid</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">6</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">tls_cert</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">(Required if using HTTPS for SAML connections) Route to the HTTPS&#160;certificate file on the target machines</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">/tmp/testcert/cert.pem</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">tls_key</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">(Required if using HTTPS for SAML connections) Route to the HTTPS cerificate private key on the target machines</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">/tmp/testcert/key.pem</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">account_name_claim</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Name of the field containing the account name in ADFS&#160;or in SAML 2.0 implementations</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">accountname</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">account_address_claim</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Name of the field containing the account email address in ADFS or in SAML 2.0 implementations</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">emailaddress</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">primary_group_sid_claim</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Name of the field containing the ID for the user an ADFS&#160;or in SAML 2.0 implementations</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">primarygroupsid</td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.1.2 &#160;">Authentication and Authorization</h3>
        <p style="text-align: left;">The S3 Connector bases its access control mechanism on two main technologies:</p>
        <ul>
            <li>Authentication of requests based on request signature</li>
            <li>Authorization of requests based on Access Control lists (ACLs)</li>
        </ul>
        <p style="text-align: left;">Request authentication requires that client requests are signed with an IAM access/secret key pair. S3 Vault issues access/secret key pairs—with a predefined expiration date—on request. (Once a key pair expires, the client must request a new one.)</p>
        <p style="text-align: left;">Request authorization requires each bucket and object to keep an account-level access control list (ACL), which allows all users in the same account to access the same set of buckets and objects. Finer granularity is available through the use of IAM&#160;Policies. See the <span class="PublicationName"><MadCap:variable name="General.ReferenceManual" /></span> for more information.</p>
        <h3 MadCap:autonum="1.1.3 &#160;"><a name="Configur"></a>Configuring the S3 Vault for SAML Authentication</h3>
        <p style="text-align: left;">To use SAML&#160;authentication, there must be a <span class="Code_Terminal">saml</span> section in the S3 Vault’s <cite>config.json</cite> file, and it must include the Identity Provider’s URL and the S3 Vault endpoint for processing authentication requests. </p>
        <p style="text-align: left;">This “saml” section may include secret key and session expiration times.</p><pre xml:space="preserve">"saml": {
     "entryPoint": "https://&lt;identity-provider-url&gt;",
     "issuerHost": "https://&lt;vault-host-url&gt;",
     "issuerPort": &lt;vault-host-port&gt;,
     "secretKeyExpirationHours": &lt;integer, optional, default=6&gt;,
     "sessionExpirationHours": &lt;integer, optional, default=6&gt;
},</pre>
        <p class="BoxNote">The <cite>config.json</cite> file is configured automatically if the SAML authentication information is set in the saml section of the <cite>env/{{my_setup_env}}/group_vars/all</cite> template, and any comment tags are removed from the section before installing the S3 Connector.</p>
        <p style="page-break-after: avoid;text-align: left;">Configurable parameters for the “saml” section of the S3 Vault <cite>config.json</cite> file include:</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');margin-left: auto;margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 100px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 542px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">“saml” Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">entryPoint</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">URL&#160;of the SSO Identity Provider</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">issuerHost</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Host exposed by S3 Vault to the user for processing authentication requests.</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">issuerPort</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Port exposed by S3 Vault to the user for processing authentication requests.</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">secretKeyExpirationHours</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>(Optional) Period, in hours, the received access key is valid for authentication.&#160;Default: <span class="Strong">6</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">sessionExpirationHours</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>(Optional) Period, in hours,  a cookie returned after authentication by S3 Vault remains valid. Default: <span class="Strong">6</span>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: left;">It is necessary to whitelist <code>{{issuerHost}}:{{issuerPort}}</code> in the Identity Provider. S3 Vault does not provide SAML-based authentication if it cannot find a correct configuration in <cite>config.json</cite>.</p>
        <p style="text-align: left;">If a secret key is in use, once the secret key  for a particular user has expired, that user must send S3 Vault a new request and authenticate user privileges through the Identity Provider to obtain a new access key.</p>
        <h4>Example S3 Vault Configuration File</h4><pre xml:space="preserve">{
     "address": "127.0.0.1",
     "dbPath": "databases/",
     "port": 8500,
     "map" : [
          { "ip": "127.0.0.1", "port": 4242 }
     ],
     "keyFilePath": "/etc/scality/vault/keyfile",
     "identityServerPort": 3030,
     "saml": {
          "entryPoint": "https://testAdfsServer/adfs/ls",
          "issuerHost": "https://127.0.0.1",
          "issuerPort": 3030
     },
     "log": {
          "host": "127.0.0.1",
          "port": 5505,
          "level": "info",
          "dump": "error"
     }
}</pre>
        <h3 MadCap:autonum="1.1.4 &#160;">Creating a Domain Account</h3>
        <p style="text-align: left;">Before authenticating against an ADFS server or SSO&#160;application, users must create an account in S3 Vault with the same name as the ADFS/SSO domain name. Newly created S3 Vault users are assigned to this account, just as ADFS/SSO users belong to their respective domains. User authentication attempts to domains with no equivalent account in S3 result in an error.</p>
        <p style="text-align: left;">The domain account can be created in S3 Vault with the <code>vaultclient</code> command.</p><pre xml:space="preserve">$ bin/vaultclient create-account --name {{ADFS-domain-name}} --email &lt;email@example.com&gt; --host &lt;address:port&gt;</pre>
        <p class="BoxNote">{{ADFS-domain-name}} can include spaces if delimited by quotation marks (for example, <code>"Account 1"</code>).</p>
        <p style="text-align: left;">Note that the <code>--host</code> parameter points to S3 Vault’s traditional endpoint, given by <code>address:port</code>, rather than the SAML authentication endpoint, given by <code>issuerHost:issuerPort</code>.</p>
        <h3 MadCap:autonum="1.1.5 &#160;">How Access Management Works with ADFS</h3>
        <p style="text-align: left;">Following authentication through ADFS, user applications can access the S3 storage system by logging into S3 Vault and obtaining an access/secret key pair from the service.</p>
        <p style="text-align: center;">
            <img src="../Resources/Images/SAMLMGMTADFS3.png" class="OneHundredPercent">
            </img>
        </p>
        <ol>
            <li>The client application requests an access/secret key pair by initiating login to S3 Vault.</li>
            <li>S3 Vault returns the URL of the ADFS Identity Provider (which includes SAML-specific information) to the client application.			</li>
            <li>The client application accesses the ADFS Identity Provider, which prompts the user application for the user’s login and password.</li>
            <li>If the user’s credentials are valid, ADFS Identify Provider returns an S3 Vault URL that includes a SAML token containing user information. (An error is returned if the user’s credentials are not confirmed.)</li>
            <li>The user application sends the SAML&#160;token to S3 Vault.</li>
            <li>S3 Vault authenticates the SAML&#160;token with ADFS Identity Provider and receives group IDs.</li>
            <li>S3 Vault responds to the key pair request with a new access/secret key pair, or with the previously issued key pair if it has not expired.</li>
            <li>Using the access/secret key pair received from S3 Vault, the user application signs an S3 request that is then sent to  S3 Connector.</li>
            <li>S3 Connector checks the authenticity of the request against S3 Vault (if the user’s credentials are not confirmed, an error is returned). </li>
            <li>On confirmation, S3 Connector checks S3 Metadata to determine whether the user is authorized to perform the requested action (that is, whether the resource’s ACL allows the action for the user). If authorization is not granted, an error is returned.</li>
            <li>The request is served to the user’s application.</li>
        </ol>
        <h3 MadCap:autonum="1.1.6 &#160;">S3 Vault Key Pairs Under the Covers</h3>
        <p style="text-align: left;"> Key pair retrieval begins with a Vault login.</p>
        <ol>
            <li style="text-align: left;">The client application sends a POST request to <span class="Code_Terminal">{{vault-ip}}/login</span>, which redirects to <span class="Code_Terminal">{{idprovider-endpoint}}</span>.</li>
            <li style="text-align: left;">The client application sends a POST request to <span class="Code_Terminal">{{idprovider-endpoint}}</span> with its user login and password.<br /></li>
            <li>
                <p>If the client is properly authenticated, the ADFS ID Provider redirects to <span class="Code_Terminal">{{vault-ip}}/loginResponse</span> with a SAML token that includes {{domainName}}, {{userName}}, {{userEmail}}, and the user’s primary group. The ID Provider also sends a cookie to be used in future logins and logouts.</p>
                <p>If the client is expired or has not been created, S3 Vault creates a new IAM user for the user with the information included in the SAML token, creates an IAM group <MadCap:conditionalText MadCap:conditions="PrintGuides.Future">and IAM role </MadCap:conditionalText>for the primary group, and generates a new access/secret key pair with a predefined expiration.</p>
            </li>
            <li style="text-align: left;">S3 Vault responds to the <span class="Code_Terminal">{{vault-ip}}/loginResponse</span> request with the access/secret key pair. S3 Vault also returns a signed cookie at this point, allowing the user to log in again without resubmitting credentials during a predefined session timeout. Login requests with an expired cookie are redirected to the Identity Provider.</li>
        </ol>
        <h3 MadCap:autonum="1.1.7 &#160;">Logging Out of Vault</h3>
        <p style="text-align: left;">Logging out of S3 Vault  closes the client session for both the ADFS ID Provider and S3 Vault. Any subsequent request is redirected to the Identity Provider for valid credentials.</p>
        <p class="Note" style="text-align: left;">See <MadCap:xref href="Logging into Vault with SAML Authentication.htm#Removing">“Removing a User Access Key,” on page&#160;1</MadCap:xref> for information on logging out of S3 Vault and deleting the session cookie.</p>
        <p style="text-align: left;page-break-after: avoid;">The session cookie signed by S3 Vault includes a session identifier to prevent cookie forging and repetition attacks, while using HTTPS prevents the cookie from being stolen in transit.</p>
        <ol>
            <li style="page-break-before: avoid;page-break-inside: avoid;">The client application sends a POST request to <span class="Code_Terminal">{{vault-ip}}/logout</span> providing the S3 Vault (and ADFS) cookie. If cookie verification succeeds, the S3 Vault session is marked as closed and any key pair stored for the user is deleted. Otherwise an error is returned.</li>
            <li style="page-break-inside: avoid;">If the S3 Vault’s cookie is valid, the client is redirected to the ADFS&#160;ID Provider, which checks the ADFS cookie and logs the user out of the ADFS system. The request is then redirected to POST <span class="Code_Terminal">{{vault-ip}}/logoutResponse</span>.</li>
            <li>S3 Vault removes its own cookie and responds.</li>
        </ol>
    </body>
</html>