﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Create IAM Users and Groups</h1>
        <h2 MadCap:autonum="1.1. &#160;">Create Users and Groups from the S3 Console</h2>
        <h3 MadCap:autonum="1.1.1 &#160;"><a name="CreateUserUI"></a>Create a User</h3>
        <ol>
            <li>Launch the Scality S3 Connector user interface at the URL provided in the configuration. The UI runs on the same endpoint as the S3 API endpoint under the URL namespace <span class="ProprietaryFileName">/_/identisee</span> (for example, <span class="ProprietaryFileName">http://s3.example.com/_/identisee</span>). The UI&#160;runs on all servers in the inventory list.<p class="BoxNote">If Frontend SSL Termination is enabled, the portal is accessible at https://s3.example.com/_/identisee.</p><img src="../Resources/Images/1_admin_login.png" class="FiftyPercent" /></li>
            <li>Log in as an account, using the password set in <MadCap:xref href="#Set">“Set an Account Password” on page&#160;1</MadCap:xref>. </li>
            <li>Select <b>User</b> to open the  User&#160;Management dialog.</li>
            <li>Click <b>Add user</b> to raise the <span class="ProperNameBold">Add user</span> dialog.<img src="../Resources/Images/IAM_Create_User.PNG" class="SeventyFivePercent" /></li>
        </ol>
        <ol MadCap:continue="true">
            <li style="page-break-after: avoid;">Enter a user name in the <b>Username</b> field and click <b>Submit</b>. The <span class="ProperNameBold">User Management</span> panel displays the user name and the user’s Amazon Resource Name (“ARN”).<img src="../Resources/Images/IAM_Create_User_2.PNG" class="OneHundredPercent" /></li>
        </ol>
        <h3 MadCap:autonum="1.1.2 &#160;">Generate Access Keys for a User </h3>
        <ol>
            <li>Click the key icon in the <b>Actions</b> column of the user’s row.<img src="../Resources/Images/IAM_Create_User_key.PNG" class="SeventyFivePercent" /></li>
            <li>
                <p>Click <b>Generate a new key</b>.</p>
                <p>
                    <img src="../Resources/Images/IAM_Create_User_key_2.PNG" class="SeventyFivePercent" />
                </p>
            </li>
            <li>Click <b>Proceed</b> to generate the user’s AccessKey and SecretAccessKey.<img src="../Resources/Images/IAM_Manage_Access_key.PNG" class="SeventyFivePercent" /><p class="BoxWARNING">Copy and save SecretAccessKey to a secure location. It is not shown again and cannot be recovered later.</p></li>
            <li>
                <p>Either generate another key, or click <b>Close</b> to end the session.</p>
                <p class="BoxNote">At this point the user is created; however, the user has no S3 service permissions. To define what services the user can access, apply a policy to the user or to the user’s IAM group.</p>
            </li>
        </ol>
        <h3 MadCap:autonum="1.1.3 &#160;">Create Groups</h3>
        <ol>
            <li>On the Groups Management page, click <span class="ProperNameBold">Create new group</span>.<img src="../Resources/Images/IAM_Create_Group.PNG" class="SeventyFivePercent" /></li>
            <li>Enter a name in the <span class="ProperNameBold">Group name</span> field (“Admin”, as shown).<img src="../Resources/Images/IAM_Create_Group_Admin.PNG" class="SeventyFivePercent" /></li>
            <li>Click <span class="ProperNameBold">Submit</span>. The new group displays in the list. </li>
            <li style="page-break-after: avoid;">Click the group name to view group details and to add users to the group.<img src="../Resources/Images/IAM_Group_Details.PNG" class="SeventyFivePercent" /></li>
            <li>Click <span class="ProperNameBold">Add users to this group</span>.</li>
            <li>Click one of the users displayed to select it, or click <span class="ProperNameBold">Select all</span> to select all of the users. 
                <img src="../Resources/Images/IAM_Group_AddUser.PNG" class="SeventyFivePercent" /></li>
            <li>Click <span class="ProperNameBold">Proceed</span> to add the user(s) to the group.</li>
            <li>To remove a user, select the user in the <span class="ProperNameBold">{{groupName}} details</span> window and click <span class="ProperNameBold">Remove selected</span>.<img src="../Resources/Images/IAM_Group_RemoveUser.PNG" class="SeventyFivePercent" /></li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;">Create Users and Groups from the Command Line</h2>
        <p>The AWS CLI can be used to create users, access keys, and groups. </p>
        <h3 MadCap:autonum="1.2.1 &#160;">Create Users and Access Keys</h3>
        <p style="text-align: left;">To create end users and access keys and secret keys for user accounts (which can be used with S3 clients, such as CyberDuck, s3cmd, etc.):</p>
        <ol>
            <li><a name="Create3"></a>Create a user.
			 <pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-user --user-name devops
{
"User": {
     "UserName": "devops",
     "Path": "/",
     "UserId": "1A4BZ7OTEXL9LST4DQ1XXC15J1QQYLQ6",
     "Arn": "arn:aws:iam::823610900596:user/devops"
  }
}</pre></li>
            <li>Create the access keys for user.
					<pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-access-key --user-name devops
{
"AccessKey": {
     "UserName": "devops",
     "Status": "Active",
     "SecretAccessKey": "WnRWsrxfxzIvMCnAvgu4RJ/9a4sBi/JpsKa18bNE",
     "AccessKeyId": "0EBJKAS5D7X9H5BMY0A6"
  }
}</pre></li>
        </ol>
        <p class="BoxTip">The user is now created but has no permissions to the S3 service. To define what services the user can access, apply a policy to the user or to the user’s IAM group.</p>
        <h3 MadCap:autonum="1.2.2 &#160;">Create an IAM Group, Attach a Policy, and Add a User to the Group</h3>
        <p style="text-align: left;">Rather than attaching a policy directly to a user, it is possible to create an IAM group, attach the policy to the group, and add the user to the group.</p>
        <ol>
            <li>Create an IAM group.
					<pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws iam --endpoint-url http://app1.lab.local:8600 create-group --group-name Development
{
"Group": {
     "Path": "/",
     "CreateDate": "2016-08-25T16:31:52Z",
     "GroupId": "VCY4W6Z1SGAO0N4NSSC0PRFV906WVTF2",
     "Arn": "arn:aws:iam::823610900596:group/Development",
     "GroupName": "{{IAMGroupCreated}}"
  }
}</pre></li>
            <li>Reuse the existing “all-access” policy created in <MadCap:xref href="#Create2">“Create an IAM Policy and Attach It to a User” on page&#160;1</MadCap:xref> and attach it to the group. This command completes with no output.
				<pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam attach-group-policy --group-name Development --policy-arn arn:aws:iam::823610900596:policy/all-access</pre></li>
            <li>Create a new user and generate an access key for the user.
			 <pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-user --user-name coding.drone7
{
"User": {
     "UserName": "coding.drone7",
     "Path": "/",
     "UserId": "XNY5H2K64PUUUTML8J6N2MDFA3C8I8ZL",
     "Arn": "arn:aws:iam::823610900596:user/coding.drone7"
        }
}
[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-access-key --user-name coding.drone7
{
"AccessKey": {
     "UserName": "coding.drone7",
     "Status": "Active",
     "SecretAccessKey": "ktO3Q9Ml99hRFIwpUKJiyGaXIRg7MMHqot/86okv",
     "AccessKeyId": "GE5YU8YSJ8UYD00DK5FG"
  }
}</pre></li>
            <li>Add the user to the group.	This command completes with no output.
				<pre xml:space="preserve" style="page-break-inside: avoid;">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam add-user-to-group --group-name Development --user-name coding.drone7</pre></li>
            <li>Perform an S3 operation. 
			If the operation conforms to group policy, it succeeds.</li>
        </ol>
    </body>
</html>