﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Create an S3 Account GUI&#160;Login and Password</h1>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Set"></a>Set an Account Password</h2>
        <ol>
            <li>Click the lock icon in the <span class="ProperNameBold">Actions</span> column to raise the <span class="ProperNameBold">Set account password</span> dialog.
            <img src="../Resources/Images/S3C_Set_Acct_Password.png" class="SeventyFivePercent" style="text-align: center;" /></li>
            <li>Enter and confirm the new password, and click <span class="ProperNameBold">Submit</span>.</li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;">Create an S3 Account Login and Password from the Command Line</h2>
        <p>Generating the user name and password to access an S3 account in the Scality web UI requires that you have the name and email associated with the account. Retrieve this information by running:</p><pre xml:space="preserve">$ ./ansible-playbook -i env/{{ EnvDir }}/inventory tooling-playbooks/list-account.yml</pre>
        <p style="text-align: left;">Use the account name and email retrieved by the preceding command in the following command to generate  a user name and password for the account&#160;(identified by the user name and email)&#160;in the Scality web UI.</p><pre xml:space="preserve">$ ./ansible-playbook -i env/inventory tooling-playbooks/generate-account-access-key.yml -e 'account_name=Bart account_email=test@test.org ui_username={{ui_username}} ui_password={{ui_password}}'</pre>
        <p> See <MadCap:xref href="Using IAM with Scality Vault as a Standalone Utility.htm#top">“Using IAM with Scality Vault” on page&#160;1</MadCap:xref>.</p>
    </body>
</html>