﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Delete an S3 Account</h1>
        <p class="BoxWARNING">Deleting an S3 account makes all S3 buckets associated with it unavailable and unrecoverable.</p>
        <h2 MadCap:autonum="1.1. &#160;">Delete an  Account from the S3 Console</h2>
        <ol>
            <li>Click the <span class="ProperNameBold">X</span> button in the <span class="ProperNameBold">Actions</span> column. This raises the <span class="ProperNameBold">Delete account</span> dialog.<br /><img src="../Resources/Images/S3C_Delete_Account.png" class="SeventyFivePercent" /></li>
            <li>Click <b>Proceed</b>. This action is irrevocable.</li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;">Delete an Account from the Command Line</h2>
        <ol>
            <li>Log in to the server hosting the S3 Federation tool</li>
            <li>Go to the federation/ folder</li>
            <li>Run the following command, replacing <code>ACCOUNT_NAME</code> with the account’s name:</li>
        </ol><pre xml:space="preserve">$ ./ansible-playbook -i env/{{ EnvDir }}/inventory tooling-playbooks/delete-account.yml -e 'account_name=ACCOUNT_NAME'</pre>
        <p>You can retrieve the account’s name with the command:</p><pre xml:space="preserve">$ ./ansible-playbook -i env/{{ EnvDir }}/inventory tooling-playbooks/list-account.yml</pre>
    </body>
</html>