﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">IAM Use Cases</h1>
        <h2 MadCap:autonum="1.1. &#160;">User with Multiple Access Keys</h2>
        <p style="text-align: left;">A best practice to limit any business impact when a user’s access key is compromised is to change the access keys on a regular basis and to limit the time for which each access key is valid. To do this, assign multiple access keys to a user and rotate the keys on a regular schedule. </p>
        <p class="Note" style="text-align: left;">For more information on rotating IAM&#160;user access keys, see <a href="https://aws.amazon.com/blogs/security/how-to-rotate-access-keys-for-iam-users/">How to Rotate Access Keys for IAM Users</a>.</p>
        <ol>
            <li>List the current access keys for user <span class="Variable">{{username}}</span>.
  <pre xml:space="preserve">[{{username}}@ws2 ~]$ aws iam --endpoint-url http://app1.lab.local:8600  list-access-keys --user-name {{username}}
{
"AccessKeyMetadata": [
     {
       "UserName": "{{username}}",
       "Status": "Active",
       "CreateDate": "2016-08-24T23:16:20Z",
       "AccessKeyId": "0EBJKAS5D7X9H5BMY0A6"
     }
   ]
}</pre></li>
            <li>Create a new access and secret key pair.
					<pre xml:space="preserve">[{{username}}@ws2 ~]$ aws iam --endpoint-url http://app1.lab.local:8600 create-access-key --user-name {{username}}
{
     "AccessKey": {
     "UserName": "{{username}}",
     "Status": "Active",
     "SecretAccessKey": "sU8NEzS36BLl0kxDdGWjCsMcaNs36Z7bQkdwklXd",
     "AccessKeyId": "L6LAX85ABS9ABANFEN2D"
   }
}</pre></li>
            <li>Verify the user has two key pairs.
					<pre xml:space="preserve">[{{username}}@ws2 ~]$ aws iam --endpoint-url http://app1.lab.local:8600 list-accesskeys --user-name {{username}}
{
"AccessKeyMetadata": [
     {
       "UserName": "{{username}}",
       "Status": "Active",
       "CreateDate": "2016-08-24T23:16:20Z",
       "AccessKeyId": "0EBJKAS5D7X9H5BMY0A6"
     },
     {
       "UserName": "{{username}}",
       "Status": "Active",
       "CreateDate": "2016-08-25T14:44:58Z",
       "AccessKeyId": "L6LAX85ABS9ABANFEN2D"
   }
]</pre></li>
            <li>Use the first key pair for an operation.
		<br></br>The key pair is accepted, enabling the operation to succeed.</li>
            <li>Use the second key pair for an operation.<br></br>The key pair is accepted, enabling the operation to succeed.</li>
            <li>Delete the second key pair and retry the operation.<br></br>The key pair is now rejected with a 403 error and the operation fails as expected.
					<pre xml:space="preserve">[{{username}}@ws2 ~]$ aws iam --endpoint-url http://app1.lab.local:8600 delete-access-key --access-key-id L6LAX85ABS9ABANFEN2D --user-name {{username}}


[{{username}}@ws2 ~]$ s3cmd ls
ERROR: S3 error: 403 (InvalidAccessKeyId): The AWS access key Id you provided does not exist in our records.</pre></li>
            <li>Revert to the first key pair and retry the <MadCap:variable name="General.ProductNameShort"></MadCap:variable> operation.<br></br>If the first key pair is still valid, the operation succeeds.</li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;">Giving a User a Home Directory</h2>
        <p style="text-align: left;">To enable users to list buckets and limit their access to specific prefixes&#160;(e.g., <code>folders</code> in a bucket), create a managed policy to control access to an S3 bucket. The URI for the accessed bucket is <span class="ProprietaryFileName"> arn:aws:s3:::mybucket/home/red/</span>*.</p>
        <p style="text-align: left;">Create the example IAM policy and test it after attaching the policy to a user group with two users.</p>
        <ol>
            <li>Define the policy.
					<pre xml:space="preserve">cat &gt; homedir&lt;&lt;EOP
{
  "Version": "2012-10-17",
  "Statement": [
    {"Sid": "AllowGroupToSeeBucketList",
      "Action": ["s3:ListAllMyBuckets", "s3:GetBucketLocation"],
      "Effect": "Allow",
      "Resource": ["arn:aws:s3:::*"]},
    {"Sid": "AllowRootLevelListingOfThisBucketAndHomePrefix",
      "Action": ["s3:ListBucket"],
      "Effect": "Allow",
      "Resource": ["arn:aws:s3:::mybucket"],
      "Condition": {"StringEquals":{"s3:prefix": ["","home/"],"s3:delimiter":["/"]}}},
    {"Sid": "AllowListBucketofASepecificUserPrefix",
      "Action": ["s3:ListBucket"],
      "Effect": "Allow",
      "Resource": ["arn:aws:s3:::mybucket"],
      "Condition": {"StringLike": {"s3:prefix":["home/${aws:username}/*"]}}},
    {"Sid": "AllowUserFullAcccesstoJustSpecificUserPrefix",
      "Action": ["s3:*"],
      "Effect": "Allow",
      "Resource": ["arn:aws:s3:::mybucket/home/${aws:username}",
      "arn:aws:s3:::mybucket/home/${aws:username}/*"]}
   ]
}
EOP</pre></li>
            <li style="page-break-after: avoid;">Create the IAM policy with the name <cite>homedir</cite>.
					<pre xml:space="preserve">devops@ws2 ~]$  aws --endpoint-url http://app1.lab.local:8600 iam create-policy --policy-name homedir --policy-document file://homedir

     "Policy": {
     "PolicyName": "homedir",
     "CreateDate": "2016-08-25T19:54:43Z",
     "AttachmentCount": 0,
     "IsAttachable": true,
     "PolicyId": "ZO6UON00C2VNS6XH66ZAO7PNZQNLRVCN",
     "DefaultVersionId": "v1",
     "Path": "/",
     "Arn": "arn:aws:iam::823610900596:policy/homedir",
     "UpdateDate": "2016-08-25T19:54:43Z"
   <MadCap:annotation MadCap:createDate="2018-02-21T12:04:59.3832342-08:00" MadCap:creator="William Abernathy" MadCap:initials="WI" MadCap:comment="mismatched braces\r\n" MadCap:editor="William Abernathy" MadCap:editDate="2018-02-21T12:05:09.4336942-08:00">}
}</MadCap:annotation></pre></li>
            <li>Create a new Group called <cite>DirAccess</cite>.<pre xml:space="preserve">{ 
"Group": {
     "Path": "/",
     "CreateDate": "2016-08-25T20:00:52Z",
     "GroupId": "1MTP6PCT1Q3UOYYMJZBX4UMZZ15TR8XH",
     "Arn": "arn:aws:iam::823610900596:group/DirAccess",
     "GroupName": "DirAccess"
   }
}</pre></li>
            <li>Attach the <cite>homedir</cite> IAM policy to the <cite>DirAccess</cite> group.
					<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam attach-group-policy --group-name DirAccess --policy-arn 
arn:aws:iam::823610900596:policy/homedir</pre></li>
            <li>Create two new users and generate their access keys.<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-user --user-name red

...


[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-access-key --user-name red

...


[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-user --user-name black

...


[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-access-key --user-name black...</pre></li>
            <p class="BoxNote">These commands complete with no output.</p>
            <li>Assign the new users to the <cite>DirAccess</cite> group:<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam add-user-to-group --group-name DirAccess --user-name red


[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam add-user-to-group --group-name DirAccess --user-name black</pre></li>
            <li>As user <cite>red</cite>, try to list the bucket contents for the <cite>red</cite> and <cite>black</cite> buckets.<br></br>The user <cite>red</cite> can see contents with the <cite>red</cite> prefix, but none of the contents in the bucket under the home directory for user <cite>black</cite>.
					<pre xml:space="preserve">[devops@ws2 ~]$ s3cmd -c s3cfg.red ls s3://mybucket/home/red/
2016-08-25 20:24 1522 s3://mybucket/home/red/file1
2016-08-25 20:24 1522 s3://mybucket/home/red/file2

[devops@ws2 ~]$ s3cmd -c s3cfg.red ls s3://mybucket/home/black/
ERROR: Access to bucket 'mybucket' was denied
ERROR: S3 error: 403 (AccessDenied): Access Denied</pre></li>
        </ol>
        <h2 MadCap:autonum="1.3. &#160;">Restricting a User to Specified Location Constraints</h2>
        <p style="text-align: left;">This example shows how an IAM Policy can be used to allow users to put objects to only specified location constraints. It applies only if the location constraint header <span class="Variable">x-amz-meta-scal-location-constraint</span> is used on a put request.</p><pre xml:space="preserve">policy: {
     Statement: {
          Condition: {
               StringEqualIfExists: {
               's3:objLocationConstraint': 'scality-us-east-1'
               }
          }
     }
}</pre>
        <p class="BoxNote">If the <span class="Variable">IfExists</span> portion is left out, the user must explicitly set the location constraint header on each put object request to avoid an AccessDenied error.</p>
    </body>
</html>