﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 style="text-align: left;" MadCap:autonum="1. &#160;"><a name="top"></a>Using IAM with Scality Vault and an SSO Identity Service</h1>
        <p style="text-align: left;">Scality Vault is compatible with any Single Sign-On (SSO) identity service that implements the SAML 2.0 protocol, including Microsoft ADFS, PingFederate, and WSO2 IdentityServer.</p>
        <p style="text-align: left;">The SSO service used in the example implementation is the WSO2 5.1.0 IdentityServer, the setup of which includes:</p>
        <ul>
            <li>Two organizations, <cite>acct2</cite> and <cite>acct3</cite>, mapped to Vault accounts</li>
            <li>Four users: <cite>red</cite>, <cite>blue</cite>, <cite>green</cite> and <cite>orange</cite><ul style="list-style-type: circle;"><li>Users <cite>red</cite> and <cite>blue</cite>  belong to the <cite>acct2</cite> organization</li><li>Users <cite>green</cite> and <cite>orange</cite> belong to the <cite>acct3</cite> organization</li></ul></li>
            <li>Three roles, <cite>role1</cite>, <cite>role2</cite>, and <cite>role3</cite>, are mapped to IAM groups:<ul style="list-style-type: circle;"><li>Users <cite>red</cite> and <cite>blue</cite> are assigned <cite>role1</cite></li><li>User <cite>green</cite> is assigned <cite>role2</cite></li><li>User <cite>orange</cite> is assigned both <cite>role2</cite> and <cite>role3</cite></li></ul></li>
        </ul>
        <p style="text-align: left;page-break-after: avoid;">The relevant reference entry in the Federation group variables environment file (<span class="ProprietaryFileName">env/{{environment}}/group_vars/all</span>) is shown below.</p><pre xml:space="preserve">env_vault_saml:
entry_point: https://10.0.0.6:9443/samlsso
entry_point_logout: https://10.0.0.6:9443/logoutResponse
issuer:
     host: https://10.0.0.31
     port: 3030
secretkey_expiration_hours: 168
session_expiration_hours: 1008
tls_key: /etc/pki/scality/vault.key
tls_cert: /etc/pki/scality/vault.crt
account_name_claim: http://wso2.org/claims/organization
email_address_claim: http://wso2.org/claims/emailaddress
primary_group_sid_claim: http://wso2.org/claims/organization</pre>
        <p style="page-break-after: avoid;column-break-after: avoid;frame-break-after: avoid;text-align: left;">To ensure that Scality Vault and the SSO&#160;IdentityServer work correctly with the example implementation, perform the following procedures:</p>
        <ol>
            <li style="frame-break-after: avoid;text-align: left;">
                <MadCap:xref href="#Test" class="HeadingOnly">Test SSO Redirection Function </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="#Create" class="HeadingOnly">Create an Account and Key Pair for the Account </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="#Test2" class="HeadingOnly">Test a User with No Assigned IAM Group </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="#Install" class="HeadingOnly">Install and Configure the AWS CLI </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="#Create2" class="HeadingOnly">Create an IAM Group </MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="#Create3" class="HeadingOnly">Create an IAM&#160;Policy and Attach it to the Group </MadCap:xref>
            </li>
        </ol>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Test"></a>Test SSO Redirection Function</h2>
        <ol>
            <li>Connect to the Vault endpoint (<cite>https://10.0.0.31:3030</cite>) using a browser in private browsing mode and click <span class="ProperNameBold">Login</span> to be redirected to the SSO page.</li>
            <li>Log in to the WSO2 IdentityServer as <cite>red</cite> with <cite>red</cite>’s password to be redirected  to Vault. </li>
        </ol>
        <p class="Note" style="text-align: left;">If no account is found in Vault, contact the system administrator.</p>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Create"></a>Create an Account and Key Pair for the Account</h2>
        <ol>
            <li>Create the IAM account.
					<pre xml:space="preserve">scality@app1:~/S3/node_modules/vaultclient/bin$ ./vaultclient create-account --name acct2 --email acct2@s3.lab.local --host 127.0.0.1

  {
     "account": {
     "arn": "arn:aws:iam::556600223362:/acct2/",
     "canonicalId": "AVPE432CZ4T6C9J43752R8VNW2C197DTVUR2C6SMJACDTTXA2ALS3DS5HFOCVVQ9",
     "id": "556600223362",
     "emailAddress": "acct2@s3.lab.local",
     "name": "acct2",
     "createDate": "2016-08-28T21:32:09Z",
     "aliasList": [],
     "oidcpList": []
     }
   }</pre></li>
            <li style="page-break-after: avoid;">Generate access keys for <cite>account2</cite>.
			<pre xml:space="preserve">scality@app1:~/S3/node_modules/vaultclient/bin$ ./vaultclient generate-account-access-key --name acct2 --host 127.0.0.1

{
  "arn": "arn:aws:iam::556600223362:/323S2AKV34RWJQMX6YHO/",
  "id": "323S2AKV34RWJQMX6YHO",
  "value": "YVaBAQEdjD9rFFiRENGBfk1VLaa+vF0iKGcv00DA",
  "createDate": "2016-08-28T21:32:30Z",
  "lastUsedDate": "2016-08-28T21:32:30Z",
  "status": "Active",
  "userId": "556600223362"
}</pre></li>
            <li>Generate access keys for <cite>account3</cite>.</li>
        </ol>
        <h2 MadCap:autonum="1.3. &#160;"><a name="Test2"></a>Test a User with No Assigned IAM Group</h2>
        <ol>
            <li>Connect to the Vault endpoint (<cite>https://10.0.0.31:3030</cite>) using a browser in private browsing mode and click <span class="ProperNameBold">Login</span> to be redirected  to the SSO page.</li>
            <li>Log in to the WSO2 Identity Server as <cite>red</cite> with <cite>red</cite>’s password to be redirected  to Vault (the URL is now: <cite>https://10.0.0.31:3030/session?rolename=role1</cite>).<br />The request is rejected because it references an entity that does not exist. The error message indicates that the entity group <cite>role1</cite> is not found.</li>
        </ol>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Install"></a>Install and Configure the AWS CLI</h2>
        <p>Install and configure the AWS CLI as decribed in <MadCap:xref href="Configure aws-cli.htm#Install">“Install and Configure aws-cli,” on page&#160;1</MadCap:xref></p>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Create2"></a>Create an IAM Group</h2>
        <ol>
            <li style="page-break-after: avoid;">Create the IAM Group using the AWS CLI.
            <pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-group --group-name role1

{
"Group": {
     "Path": "/",
     "CreateDate": "2016-08-24T20:52:05Z",
     "GroupId": "B7I9BNNDT1WW8LYPNF5DGF7R9IK5SSIN",
     "Arn": "arn:aws:iam::016615598700:group/role1",
     "GroupName": "role1"
  }
}</pre><p>(Your hashed values will differ.)</p></li>
            <li>Connect to the Vault endpoint (<cite>https://10.0.0.31:3030</cite>) using a browser in private browsing mode,  and click <span class="ProperNameBold">Login</span> to be redirected  to the SSO page.

</li>
            <li>Log in to the WSO2 Identity Server as <span class="ProperNameBold">red</span> with a valid password to be redirected  to Vault with the following account settings returned:
					<pre xml:space="preserve">{"accountName":"acct2","userId":"F3L8AVAVDBHVIZHBZLAQ3VPKMF12GMCD", "roleName":"role1",
     "accessKey":"G25ZLN8UFMN6WTYWHEAB", "secretKeyValue":"a6=0MdcpPQjWdDCVQLt52OsX
     /=MekfeTJy2omxV/","expirationTime":"2016-08-31T20:53:04.638Z"}</pre></li>
            <li>Configure the AWS CLI with the <span class="Code_Terminal">accessKey</span> and <span class="Code_Terminal">secretKeyValue</span> returned from Vault.
            </li>
            <li>Use the AWS CLI to list the buckets.
		<pre xml:space="preserve">$ aws --endpoint-url http://s3.lab.local s3 ls
An error occurred (AccessDenied) when calling the ListBuckets operation: Access Denied</pre><p>Access is denied. This resolves once an IAM policy is created and attached to the group.</p></li>
        </ol>
        <h2 MadCap:autonum="1.6. &#160;"><a name="Create3"></a>Create an IAM&#160;Policy and Attach it to the Group</h2>
        <ol>
            <li>Define the policy. <pre xml:space="preserve">cat &gt; all-access.policy&lt;&lt;EOP
{
"Version": "2012-10-17",
"Statement": [
  {
     "Sid":"AllAccess",
     "Effect":"Allow",
     "Action":"s3:*",
     "Resource": "*"
  }
 ]
}
EOP</pre></li>
            <li style="page-break-after: avoid;">Create the policy in S3 with the policy name <cite>all-access</cite>.
					<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam create-policy --policy-name all-access --policy-document file://all-access.policy
{
     "Policy": {
     "PolicyName": "all-access",
     "CreateDate": "2016-08-24T21:19:50Z",
     "AttachmentCount": 0,
     "IsAttachable": true,
     "PolicyId": "Y2S2SIDTUUQOKF81T66NGA14KVU4FOE4",
     "DefaultVersionId": "v1",
     "Path": "/",
     "Arn": "arn:aws:iam::016615598700:policy/all-access,
     "UpdateDate": "2016-08-24T21:19:50Z"
  }
}</pre></li>
            <li>Attach the <cite>all-access</cite> policy to the <cite>role1</cite> group.<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://app1.lab.local:8600 iam attach-group-policy --group-name role1 --policy-arn arn:aws:iam::016615598700:policy/all-access</pre><p>The command completes with no output.</p><p class="BoxNote">The user is a part of the group the SAML assertion returns, so there is no need to add the user to the group. </p></li>
            <li>Configure the AWS CLI to use the credentials for the <cite>acct2</cite>&gt;<cite>red</cite> user.</li>
            <li>Use the AWS CLI to list the buckets.<pre xml:space="preserve">[devops@ws2 ~]$ aws --endpoint-url http://s3.lab.local s3 ls</pre></li>
        </ol>
    </body>
</html>
